@import url("https://fonts.google.com/specimen/Source+Sans+Pro");
body {
  font-family: "Source Sans Pro", sans-serif;
  /* background: url("images/blobs.png") no-repeat right top #63d6d6; */
  background: #63d6d6;
  color: white;
}

.container {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0.25em 0.5em;
}

header {
  text-align: center;
}

.App-logo {
  width: 180px;
}
nav {
  margin: 2em auto 0;
  max-width: 600px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 1.25em;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

main {
  display: flex;
  flex-flow: column-reverse;
}

.hero {
  text-align: center;
}
.hero h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5em;
  font-weight: 700;
  color: green;
}

.hero p {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 500px;
  line-height: 1.2em;
  margin: 3em auto;
}
.hero p:before {
  content: "";
  display: block;
  width: 120px;
  border: 2px solid #ffdb37;
  margin: 1em auto;
}

.hero a {
  background: #ae79c4;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 700;
}

.hero button {
  background: #ae79c4;
  padding: 1em 3em;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.375em;
  font-weight: 300;
}

figure {
  text-align: center;
}

figure img {
  /* margin: 3em auto 0; */
  text-align: center;
  width: 300px;
}

@media screen and (min-width: 820px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    list-style: none;
    padding: 0.5em 2em;
  }
  nav ul li a {
    font-size: 1.375em;
    color: white;
    font-weight: 700;
    text-decoration: none;
  }
  .highlight {
    border: 3px solid red;
    border-radius: 50%;
  }
  main {
    flex-flow: row;
  }
  .hero {
    text-align: left;
  }
  .hero h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2em;
    color: green;
  }
  .hero p:before {
    margin: 1em 0;
  }
  .hero p {
    font-size: 1.3em;
    padding: 0;
    margin: 0 0 3em 0;
  }
  .figure img {
    width: 120%;
  }
}

/* Footer css */
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}
.text-center {
  text-align: center !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
footer.page-footer {
  bottom: 0;
  color: #fff;
}
.font-small {
  font-size: 0.9rem;
}
